:root {
  --main-bg-color: #a90331;
  --secondary-bg-color: lightgrey;
  --font-color: rgb(104, 103, 103);
  --font-secondary: rgb(65, 60, 60);
  --color-menu: #a90331;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  position: relative;
  height: 100vh;
  width: 1280px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  background-image: url(../img/banniere.jpg);
  background-repeat: no-repeat;
  width: 1280px;
  height: 311px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner p {
  text-align: center;
  line-height: 80px;
  height: 80px;
  width: 300px;
  border-radius: 30px;
  background-color: beige;
  font-size: 32px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  opacity: 75%;
}

.nav-bar {
  border-radius: 10px;
  margin: 10px 0;
  border: 2px solid black;
  height: 50px;
  background-color: #ccc;
  position: sticky;
  top: 0px;
}

.nav-bar ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav-bar ul li {
  color: rgb(73, 72, 72);
  font-weight: 600;
}

.nav-bar ul li a {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.nav-bar ul li:hover {
  background: var(--color-menu);
}

.nav-bar ul li a:visited {
  color: black;
}

.nav-bar ul li a:hover,
.nav-bar ul li a:visited:hover {
  color: white;
}

.home,
.hist,
.geo,
.cult,
.gal,
.form,
.link {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.home .header,
.home .description,
.home .source,
.geo .header,
.geo .description,
.geo .source,
.hist .header,
.hist .description,
.hist .source,
.cult .header,
.cult .description,
.cult .source,
.gal .description,
.form .header,
.form h2,
.form .form-section,
.link h2,
.link .header,
.link .links {
  text-align: center;
  padding: 20px 30px;
}

.home .header img {
  height: 200px;
}

.home h1,
.geo h1,
.hist h1,
.cult h1,
.gal h1,
.form h1,
.link h1 {
  text-align: center;
  background-color: var(--main-bg-color);
  font-style: italic;
  font-size: 24px;
  color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.home .description,
.geo .description,
.hist .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}

.geo .header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 592px;
  width: 100%;
}

.cult .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cult .description .arch,
.cult .description .thea,
.cult .description .art-cult {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: start;
}

.cult .description .arch,
.cult .description .thea,
.cult .description .art-cult {
  margin-bottom: 20px;
}

.gal .galerie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px auto;
  grid-template-areas:
    "photo3  photo2  photo1"
    ".       .       .";
}

.galerie img {
  border: 2px solid black;
  padding: 5px;
  max-height: 350px;
  width: 100%;
}

.galerie figcaption {
  text-align: center;
  font-size: 18px;
}

#photo1 {
  grid-area: photo1;
}

#photo3 {
  grid-area: photo3;
}

.form .form-section .label-input {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  margin-bottom: 20px;
}

.form-section input {
  width: 400px;
}

.form-section button {
  height: 50px;
  width: 300px;
  font-size: 20px;
  border-radius: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links .container {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.links a {
  color: var(--color-menu);
}
